---
layout: layouts/main.vto
title: 404
description: "kbaba1001のブログの404ページです"
ogimage: /img/horse.jpg
---

<div class="top">
  <section>
    <h1>404 Not Found</h1>
    <a href="/">トップページに行く</a>
  </section>
</div>
