---
layout: layouts/main.vto
title: 404
description: "ハッカーと漫画家の404ページ"
ogimage: /img/kitsune-kamen2.jpg
---

<div class="top">
  <section>
    <h1>404 Not Found</h1>
    <a href="/">トップページに行く</a>
  </section>
</div>
