---
layout: layouts/main.njk
title: ABOUT
---

<div class="about">
  <div class="about-this-website">
    <h2>Clojure Camp について</h2>
    <p>
      Clojure Camp は Clojure に関する情報を発信する Web メディアです。
      <br />
      皆様からのWeb記事の寄稿も受け付けております。
    </p>
  </div>

  <div class="about-github">
    <h2>寄稿の方法</h2>
    <p>
      <a
        href="https://github.com/neumann-tokyo/clojure-camp"
        target="_blank"
        rel="noopener"
      >
        GitHub の Clojure Camp リポジトリ
      </a>
      の issue にどのような記事を書きたいか記入してください
    </p>
  </div>

  <div class="about-sns">
    <h2>コミュニティ</h2>
    <div class="about-sns-cards">
      <a
        class="about-sns-card"
        href="https://discord.com/invite/qTEfHCjQQN"
        target="_blank"
        rel="noopener"
      >
        <img
          src="/img/discord-logo.png"
          alt="discord"
          class="about-sns-card-image"
        />
        <div>公式Discord</div>
      </a>
    </div>
  </div>

  <div class="about-company">
    <h2>運営企業</h2>
    本サイトは
    <a href="https://www.neumann.tokyo" target="_blank" rel="noopener">
      ノイマントーキョー株式会社
    </a>
    が運営しています
  </div>
</div>
