---
layout: layouts/main.vto
title: TOP
description: "kbaba1001のブログです"
ogimage: /img/horse.jpg
---

<div class="top">
  <h1 class="top-h1">ブログ記事一覧</h1>
  {{ comp.postsList({query: "type=posts"}) }}
  </div>
</div>
