:root {
  --contents-width: 1000px;

  --main-bg-color: #ffffff;
  --main-text-color: #222222;
  --header-bg-color: #222222;
  --header-text-color: #ffffff;
  --footer-bg-color: #d4d4d4;
  --footer-text-color: #000000;
  --accent-color: #2351a1;
  --feeble-color: #aaaaaa;
  --feeble-bg-color: #eeeeee;
}

body {
  font-family: sans-serif;
  font-size: 1.2rem;
  background-color: var(--footer-bg-color);
}

code.hljs {
  font-family: "Source Code Pro", monospace;
  font-size: 1rem;
}
