.layout {
  display: flex;
  flex-direction: column;
  min-height: 99vh;
}

.layout-header {
  background-color: var(--header-bg-color);
  color: var(--header-text-color);
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

.header {
  width: var(--contents-width);
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
  grid-template-areas:
    "title nav"
    "tags tags";
}

.grid-header-title {
  grid-area: title;
}
.grid-header-nav {
  grid-area: nav;
}
.grid-header-tags {
  grid-area: tags;
}

.layout-main {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  flex: 1;
  display: flex;
  justify-content: center;
}

.layout-footer {
  background-color: var(--footer-bg-color);
  color: var(--footer-text-color);
  display: flex;
  justify-content: center;
}

.layout-main-center {
  width: var(--contents-width);
}

.footer {
  width: var(--contents-width);
}

@media only screen and (max-width: 800px) {
  .layout-main {
    display: block;
  }
  .layout-footer {
    display: block;
  }

  .header {
    grid-template-areas:
      "title"
      "nav"
      "tags";
    padding: 0.5rem;
  }

  .layout-main-center {
    width: 95%;
    margin: auto;
  }
  .footer {
    width: 100%;
  }
}
