.blog {
  margin: 1rem 0;
}

.blog-container {
  display: flex;
  flex-direction: column;
}

.blog-card {
  border-bottom: 1px dotted var(--main-text-color);
  padding: 1rem 0;
}

.blog-card-date {
  font-size: 1rem;
  color: var(--feeble-color);
}

.blog-card-title-link {
  color: var(--main-text-color);
}

.blog-card-title {
  margin: 0;
  padding: 0;
}

.blog-card-description {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--feeble-color);
}

.blog-tags {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
  padding: 0;
  list-style: none;
  gap: 10px;
}

.blog-tag {
  background-color: var(--tag-bg-color);
  color: var(--tag-color);
  padding: 5px 10px;
  border-radius: 5px;
}
