.post {
  margin: 1rem 0;
}

.post-date {
  font-size: 1rem;
  color: var(--feeble-color);
}

.post-index-link {
  display: inline-block;
  margin: 0.5rem 0;
  color: var(--main-text-color);
}

.post-main code {
  display: inline-block;
  background-color: var(--feeble-bg-color);
  border-radius: 5px;
  padding: 0 5px;
}

/* .post-main pre code {
  display: inline-block;
  background-color: white;
  border: 1px solid var(--feeble-color);
  border-radius: 5px;
  padding: 0 5px;
} */
