.post {
  margin: 1rem 0;
}

.post-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.post-date {
  font-size: 1rem;
  color: var(--feeble-color);
  display: inline-block;
}
.post-tag {
  display: inline-block;
  background-color: var(--tag-bg-color);
  color: var(--tag-color);
  padding: 5px 10px;
  border-radius: 5px;
}

.post-title {
  color: var(--accent-color);
  text-decoration: double underline;
  text-underline-offset: 8px;
}

.post-index-link {
  display: inline-block;
  margin: 0.5rem 0;
  color: var(--main-text-color);
}

.post-main code {
  display: inline-block;
  background-color: var(--feeble-bg-color);
  border-radius: 5px;
  padding: 0 5px;
}

/* .post-main pre code {
  display: inline-block;
  background-color: white;
  border: 1px solid var(--feeble-color);
  border-radius: 5px;
  padding: 0 5px;
} */
