.header-title {
  display: flex;
  align-items: center;
}

.header-title-logo {
  width: 2rem;
  height: 2rem;
}

.header-title-link {
  color: var(--header-text-color);
  text-decoration: none;
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}
