.header-title {
  display: flex;
  align-items: center;
}

.header-title-logo {
  width: 3rem;
  height: 3rem;
}

.header-title-link {
  color: var(--header-text-color);
  text-decoration: none;
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: bold;
}
