.tags-links {
  display: flex;
  gap: 0.5rem;
  margin: 0.5rem 0;
  flex-wrap: wrap;
  width: 100%;
}

.tags-link {
  background-color: var(--tag-link-bg-color);
  color: var(--tag-link-color);
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
}
