<hr />
<div class="comment-button-container">
  <a
    href="https://github.com/kbaba1001/kbaba1001.github.io/discussions"
    target="_blank"
    class="comment-button"
  >
    掲示板にコメントする
  </a>
  <div class="comment-note">
    ※どの記事のコメントかわかるように本文に記事タイトルなどを入れてください。
  </div>
</div>
