<div class="header-title">
  <img
    src="/img/kitsune-kamen.jpg"
    alt="ハッカーと漫画家"
    loading="lazy"
    class="header-title-logo"
  />
  <a href="/" class="header-title-link">ハッカーと漫画家</a>
</div>
