<nav class="header-nav">
  <ul class="header-nav-list">
    <li><a href="/blog" class="header-nav-list-link">Blog</a></li>
    <li>
      <a
        href="https://www.neumann.tokyo"
        class="header-nav-list-link"
        target="_blank"
        rel="noopener"
      >
        運営企業
      </a>
    </li>
    <li>
      <a
        href="https://discord.com/invite/qTEfHCjQQN"
        class="header-nav-list-link"
        target="_blank"
        rel="noopener"
      >
        Discord
      </a>
    </li>
    <li>
      <a
        href="https://github.com/neumann-tokyo/clojure-camp"
        class="header-nav-list-link"
        target="_blank"
        rel="noopener"
      >
        GitHub
      </a>
    </li>
  </ul>
</nav>
