<div>
  <a href="/" class="header-title-link">
    <img
      src="/img/clojure-logo.png"
      alt="clojure log"
      loading="lazy"
      class="header-title-logo"
    />
    <h1 class="header-title-text">Clojure Camp</h1>
  </a>
</div>
