<div class="header-title">
  <img
    src="/img/horse.jpg"
    alt="kbaba1001 ブログ"
    loading="lazy"
    class="header-title-logo"
  />
  <a href="/" class="header-title-link">kbaba1001 ブログ</a>
</div>
