<div>
  <a href="/" class="header-title-link">
    <img
      src="/img/horse.jpg"
      alt="kbaba1001 ブログ"
      loading="lazy"
      class="header-title-logo"
    />
    <h1 class="header-title-text">kbaba1001 ブログ</h1>
  </a>
</div>
