<div class="tags-links">
  <a class="tags-link" href="/tags/commic">漫画</a>
  <a class="tags-link" href="/tags/daily-life">日常</a>
  <a class="tags-link" href="/tags/tech">Tech</a>
  <a class="tags-link" href="/tags/study">勉強</a>
</div>
