---
description: "Clojure Camp は Clojure/ClojureScript に関する情報を発信するWebマガジンです"
---

<html lang="ja">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-6CEJTP1EZJ"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-6CEJTP1EZJ");
    </script>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0"
    />
    <link rel="stylesheet" href="/styles.css" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/img/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/img/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/img/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/site.webmanifest" />

    <meta
      name="keywords"
      content="Clojure,ClojureScript,プログラミング初心者,駆け出しエンジニア"
    />
    <meta name="author" content="合同会社ノイマン馬場一樹" />
    <meta property="og:title" content="Clojure Camp - {{ title }}" />
    <meta property="og:url" content="https://clojure-camp.com" />
    <meta property="og:image" content="https://clojure-camp.com/img/logo.png" />
    <meta property="og:type" content="website" />
    <meta name="description" content="{{ description }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:locale" content="ja_JP" />

    <title>Clojure Camp - {{ title }}</title>
  </head>
  <body class="layout">
    {{ content | safe }}
  </body>
</html>
