---
description: "Clojure Camp は Clojure/ClojureScript に関する情報を発信するWebマガジンです"
---

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0"
    />
    <link rel="stylesheet" href="/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/default.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
    <!-- and it's easy to individually load additional languages -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/languages/clojure.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/languages/bash.min.js"></script>

    <meta
      name="keywords"
      content="Clojure,ClojureScript,プログラミング初心者,駆け出しエンジニア"
    />
    <meta name="author" content="合同会社ノイマン馬場一樹" />
    <meta property="og:title" content="Clojure Camp - {{ title }}" />
    <meta property="og:url" content="https://clojure-camp.com" />
    <meta property="og:image" content="https://clojure-camp.com/img/logo.png" />
    <meta property="og:type" content="website" />
    <meta name="description" content="{{ description }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:locale" content="ja_JP" />

    <title>Clojure Camp - {{ title }}</title>
  </head>
  <body class="layout">
    {{ content | safe }}
  </body>
</html>
