---
layout: layouts/base.vto
---

<header class="layout-header">
  <div class="header">
    {{ comp.headerTitle() }}
    <div class="header-nav-container">{{ comp.headerNav() }}</div>
  </div>
</header>
<div class="layout-main">
  <main class="layout-main-center">{{ content }}</main>
</div>
