---
layout: layouts/main.njk
---

<div class="post">
  <a href="/blog" class="post-index-link">一覧に戻る</a>
  <div class="post-date">{{ date | date("DATE") }}</div>
  <h2 class="post-title">{{ title }}</h2>
  <div class="post-main">{{ content | safe }}</div>
  <a href="/blog" class="post-index-link">一覧に戻る</a>
</div>
