---
layout: layouts/main.vto
---

<div class="post">
  <div>
    <div class="post-date">{{ date |> date("DATE") }}</div>
    {{ for tag of tags }}
    <div class="post-tag" data-pagefind-filter="tag">{{ tag }}</div>
    {{ /for }}
  </div>
  <h1 class="post-title">{{ title }}</h1>
  <div class="post-main">{{ content }}</div>
  {{ comp.commentButton() }}
  <a href="/" class="post-index-link">一覧に戻る</a>
</div>
